{% extends '_base.html' %}

{% load cloudinary %}

{% block content_container_class %}{% endblock %}

{% block content %}
<div id="carouselExampleFade" class="carousel slide" data-bs-ride="carousel" style="width: 100%; height: calc(100vh - 120px);">
  <div class="carousel-inner" style="width: 100%; height: calc(100vh - 120px);">
    {% for photo in collection.photo_set.all %}
    <div class="carousel-item {% if forloop.first %}active{% endif %}" style="width: 100%; height: calc(100vh - 120px);">
      {% cloudinary photo.file width=1500 height=1000 crop="limit" class="collection-photo" %}
    </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock %}
