{% extends '_base.html' %}

{% load markdown %}
{% load cloudinary %}

{% block content %}
<h1 class="section-title">{{ collection.name }}</h1>

<div class="collection-date">
  {{ collection.date_from }}
  {% if collection.date_to %} 
    t/m {{ collection.date_to }}
  {% endif %}
</div>

{{ collection.description|md }}

<p><a href="{% url 'home' %}">Terug naar homepagina</a></p>

<div class="collection-photos">
{% for photo in collection.photo_set.all %}
  <div class="photo-container">
    {% cloudinary photo.file width=600 height=600 crop="fill" gravity="face" %}
  </div>
{% endfor %}
</div>

{% endblock %}
